
body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    font-family: 'Inter';
    color: aliceblue;
    width: 100%;
    overflow-x: hidden;
    letter-spacing: 0.1px;


}
.box1 {
    width:100%;
    height: 100vh;
    color: rgb(255, 255, 255);
     background:
         radial-gradient(
    circle,
    rgba(0, 0, 0, 0.268) 0%,
    rgba(0, 0, 0, 0.311) 50%,
    rgb(0, 0, 0) 100% ),
        url("img/1397315.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box2{
    box-shadow:inset 0 10px 30px #101d5f;

    border-top: 4px solid rgb(255, 2, 124);
    margin-top: -30px;
    width: 100%;
    height: 230%;
    background-color: black;
    border-top-left-radius: 40% 50px;
    border-top-right-radius: 40% 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav{
    width: 1523px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.left{
    width:28vw;
    height: 13.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-top: -85px;
    width: 170px;
    height: 80px;
    background-image: url(../img/Netflix_Logo_RGB.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.right{
    margin-top: -4.4vh;
    width: 20% ;
    height: 68px;
    margin-right: 105px ; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.lang {
    margin-right: 13px;
    width: 122.4px;
    height: 30px;
    background-color: rgba(17, 17, 17, 0.622);
    border: 1px solid rgba(130, 128, 128, 0.61);
    gap: 10px;
    border-radius: 3.7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-language {
    font-size: 10px;
    margin-left: 10px;
}
.fa-caret-down {
    font-size: 8px;
    margin-right: 10px;
    margin-top: 0vh;
}
.lang p {
    font-size: 15.5px;
    font-weight: 500;
}
.signin {
    width: 24.5%;
    height: 4.5vh;
    background-color: red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13.2px;
    font-weight:700;
    
}
.content {
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1vh;
}
.txt:nth-child(1) {
    font-size: 3.5rem;
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 20px;
}
.txt:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.txt:nth-child(3){
    font-size: .95rem;
    margin-top: 30px;
    margin-bottom: 2.5vh;
    font-weight: 500;
}
.start {
    display: flex;
    justify-content: center;
    align-items: center;
}
.start input {
    outline: none;
    width: 364px;
    height: 53px;
    background-color: rgba(46, 46, 46, 0.084);
    border: 0.1px solid rgba(130, 128, 128, 0.61);
    border-radius: 4px ;
    margin-right: 8px;
    margin-top: 4px;
}
.go{
    width: 213px;
    height: 56px;
    background-color: red;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:25px;
    font-weight: 600;
}
.start ::placeholder {
    margin-top: 65px;
    color: rgb(138, 137, 137);
    font-size: larger;
    font-weight: 540;
}
.go p {
    margin-left: 25px;
}
.fa-chevron-right{
    font-weight: 100;
    font-size: 1.2rem;
    margin-right: 18px;
}
.trend {
    margin-top: 63px;
    margin-left: 290px;
    width: 100%;
    height: 60vh;
}
.trend p {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 0px;
}
.container{
    display: flex;
    gap: 41px;
    margin-left: 40px;
}

.box{
    border-radius: 10px;
    width: 180px;
    height: 252px;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s;
}
.box:nth-child(6){
    width: 50px;
    height: 252px;
}


.number{
    font-family: "Inter";
    position: absolute;
    bottom: 7px;
    left: -30px;
    font-size: 6.5rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 2px rgb(255, 255, 255);

}
.box:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    transition: 0.3s ease-in;
}

.box:hover .number{
    color: #000000;
    -webkit-text-stroke: 2px white;
}
.box:nth-child(1){
    background-image: url(../img/1.jpg);
    background-position: center;
    background-size: cover;
}
.box:nth-child(2){
    background-image: url(../img/2.jpg);
    background-position: center;
    background-size: cover;
}
.box:nth-child(3){
    background-image: url(../img/3.jpg);
    background-position: center;
    background-size: cover;   
}
.box:nth-child(4){
    background-image: url(../img/4.jpg);
    background-position: center;
    background-size: cover;
}
.box:nth-child(5){
    background-image: url(../img/5.jpg);
    background-position: center;
    background-size: cover;
}
.box:nth-child(6){
    background-image: url(../img/6.jpg);
    background-position: center;
    background-size: cover;
}
.why{
    margin-top: -80px;
    width: 80%;
    height: 10vh;
    margin-left: -10px;
}
.buy {
    margin-top: vh;
    font-size: 1.453rem;
    font-weight: 700;
    color: aliceblue;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: aliceblue;
    margin-top: -1vh;
}
.block {
    border-radius: 10px;
    width: 300px;
    height: 277px;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background: linear-gradient(115deg, #191f42, #210f19);
}
.head {
    font-size: 23px;
    margin-left: 15px;
    font-weight:740;
    color: aliceblue;
    
}
.text {
    font-size: 16px;
    margin-left: 16px;
    margin-top: -5px;
    color: #bbbcc4;
    font-weight: 500;
}

.img1{
    width: 80px;
    height: 80px;
    background-image: url(../img/12.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 40px;
}
.img2{
    width: 80px;
    height: 80px;
    background-image: url(../img/bb.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 35px;
}
.img3{
    width: 80px;
    height: 80px;
    background-image: url(../img/cc.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 35px;
}
.img4{
    width: 80px;
    height: 80px;
    background-image: url(../img/dd.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 25px;
}
.bot {
    width: 50%;
    height: 80vh;
    margin-top: 55vh;
    margin-left: -62vh;
    font-size: 1.4rem;
    font-weight: 700;
    color: aliceblue;
}
.bot P {
    margin-top: -8.5vh;
}
.boxy {
    width: 100%;
    margin-bottom: -100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}
.bx {
    width: 1170px;
    height: 84px;
    background-color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 450;
}
.boxy p {
    margin-top: 8vh;
    font-size: 4.5rem;
    font-weight: 100;
}
